{% extends "authapps/base2.html" %}
{% block registrations %}
<section id="hero"> 
    <div class="hero-container">
     <h3>Sign-in Here</h3>
     
     <div class="card bg-dark " style="width: 30rem; height:20rem border-radius: 100px;">
      
        <div class="card-body  ">
          {% include "msg.html" %}
            <form action="/authapp/login/" method="post" >
              {% csrf_token %}
                <div class="form-group">
                  <label></label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="useremail" required>
                  <small id="emailHelp" class="form-text text-muted">.</small>
                </div>
                <div class="form-group">
                  <label ></label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="userpassword">
                </div>
                <div class="form-group">
                  
                </div>
                <div class="form-check">
               
                </div> 
                <button type="submit" class="btn btn-danger">Submit</button>
              </form>
        </div>
      </div>
    </div>
  </section>
{% endblock registrations %}